body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;

  color: #fff;
  padding: 200px;
  position: relative;
}

.header .logo {
  height: 30px;  /* Decrease size of logo */
  position: absolute;
  left: 10px;  /* Position logo to the leftmost side */
}

.header .title {
  flex-grow: 1;
  margin: 0;
  text-align: center;
}

main {
  padding: 100px;
}

section {
  margin-bottom: 30px;
}

footer {
  background-color: #fca7a7;
  color: #fff;
  padding: 10px 0;
}
